/* used fonts in this project  */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Abel');
/* initial changes to tags */
body {
  margin: 0;
  padding: 0;
  background-color: #06070d;
  color: #06070d;
}

a {
  color: #06070d;
}
p {
  font-family: 'Indie Flower', cursive; 
  line-height: .8em;
  font-style: italic;
  font-size: 1.35em;
  margin-bottom: 0;
  width: 100%;
}
h5.fontCookie > span:before,
p:before {
  content: '<';
}
h5.fontCookie > span:after,
p:after {
  content: '>';
}
h5.fontCookie > span:before,
h5.fontCookie > span:after,
p:before,
p:after {
  color: #7c1e3b;
}

/* MENU */
.menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 99;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}
  .menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu ul li {
    float: left;
    font-size: 4.5em;
    width: 20%;
    display: block;
    text-align: center;
  }
  .menu ul li a {
    color: rgba(255, 211, 0, 1);
  }
  .menu ul li a span {
    display: none;
    font-size: .5em;
    letter-spacing: .8px;
    font-family: 'Indie Flower', cursive;
    color: rgba(255, 211, 0, 1);
  }
    .menu ul li:hover a span {
      display: inline-block;
    }
    .menu ul li:hover a i {
      display: none;
    }

/* /Menu */





/* Key classes */
.tagConnectLine,
.about .aboutContent .container-fluid > .row{
  border-left: 1px dotted #06070d;
  margin: 1px 0;
}

.fontCookie {
  font-family: 'Cookie', cursive;
  font-size: 3.5em;
  padding-left: 25px;
  line-height: .9em;
  letter-spacing: 1.5px; 
  margin-bottom: 0;
}
.fontPacifico {
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: 1px;
}